.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px greenyellow;
}

.logo {
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a:hover {
  color: blueviolet;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
